html
	head
		title Declan Tyson | Blogalongabond
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
		link(rel='stylesheet', href='/css/styles.min.css')
		link(rel='shortcut icon', href='/assets/favicon.png')
	body
		#total
			include includes/fancy-loading-transition

			img#featured(src='/assets/blogalongabond.png')

			header

			#container
				.content
					.navigation
						include includes/nav
					#ocelot-content
						include:markdown-it content/blogalongabond.md
						.blogs-bond
							each blog in blogs
								a(href=blog.url)
									img(src=blog.thumb)
									.thumb-content
										h3= blog.title
										span= blog.date

			each script in scripts
				script(src=script)
